<!--<h1>this line shows the routing works</h1>-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Reimbursement Form</title>
</head>
<body>
    <form action="/action_page.php">
        <div class="form-group">
          <label for="reimb_amount">Reimbursement Amount:</label>
          <input type="text" class="form-control" id="reimb_amount">
        </div>
        <div class="form-group">
          <label for="reimb_description">Reimbursement Description:</label>
          <input type="text" class="form-control" id="reimb_description">
        </div>
        <div class = "form-group">
          <label for = "reimb_author"></label>  

        </div>

        <div class="checkbox">
          <label><input type="checkbox"> Remember me</label>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
       
</body>
</html>