<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <title>project_1_login</title>
</head>
<body>
    <h1 align = "center" id = "heading1">You Wish Reimbursement System</h1>
    <div align="center" id="login">
    <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" 
          placeholder="Username"
          ngModel name="username"
          required>
        </div>
        <div class="form-group">
          <label for="UserPassword">Password</label>
          <input type="password" class="form-control" id="UserPassword" 
          placeholder="Password"
          ngModel name="userpassword"
          required>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Remember Me</label>
        </div>
        <button type="submit" class="btn btn-primary"
        [disabled]="!f.valid">Login</button>
      </form>
      </div>
      

   
</body>
</html>