#heading1{

    font-size: 50px;
    font-weight:bold;
    position: relative;
    top: 50%;


    align-items: center;
    
}

#login{
    width: 40vw;
    position: relative;
    margin-top: 10%;

    left: 28%;
  
}